html {
  font-size: 16px;
}

.navigation {
  background-color: #424242;
  color: #FAFAFA;
  padding: 1rem;
}

.bg-image {
  background-image: url('../assets/bg.png');
  background-position: 30% 80%;
  background-size: cover;
  height: 30vh;
}
